<footer>
    <div class="footer">
        <div class="f-social">
            <a href="https://github.com/ad1tyayadav"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://x.com/_its_Adi"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="https://www.linkedin.com/in/aditya-yadav-39b20529a/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-title">&copy; 2024 Airbnb, Inc</div>
        <div class="f-info">
            <a href="/privacy">Privacy</a>
            <a href="/term">Term</a>
        </div>
    </div>
</footer>