<footer>
    <div class="footer">
        <div class="f-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-title">&copy; 2024 Airbnb, Inc</div>
        <div class="f-info">
            <a href="/privacy">Privacy</a>
            <a href="/term">Term</a>
        </div>
    </div>
</footer>