<% layout('/layouts/boilerplate') -%>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a new Listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control" required />
                    <div class="invalid-feedback">
                        Title should not be blank.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter Description" class="form-control"
                        required></textarea>
                    <div class="invalid-feedback">
                        Please enter a short description.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="listing[price]" placeholder="Enter Price" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Price should not be blank.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter Country" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Please provide a valid country.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter Location" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                </div>
                <button class="btn edit-btn btn-danger">Add</button>
            </form>
        </div>
    </div>